{% extends 'main_course.html' %}
{% load static %}
{% block content %}
<body>
    <div class="navbar">Navbar Content</div>
    <div class="main-content">
        <img src="https://media.licdn.com/dms/image/C4E12AQESF5jrbD0NXw/article-cover_image-shrink_600_2000/0/1623083724926?e=2147483647&v=beta&t=fm43wRYCaqwcdGcYychRZ59Ynq9vint83rInIkTfnk8" alt="Network Diagram" alt="Network Diagram">
    </div>
    <aside class="sidebar">
        <div class="progress-container">
            <div class="progress-circle" data-percentage="1%">
                <span>1%</span>
            </div>
            <button class="progress-button">Start course</button>
        </div>
    </aside>
    </body>
{% endblock %}