{% extends 'main_course.html' %}
{% load static %}
{% block content %}
<!-- Sidebar -->
<style>
  .my-element-background {
    background-color: #3f4156;
  }
  h1{
    color: white;
  }
</style>

<div class = "my-element-background">
  <div class="container">
    <div class="row">
      <!-- Video Section -->
      <div class="col-md-8">
        <h1>{{ course.title }}</h1>
        <video id="courseVideo" width="100%" controls>
          <source src="{% static video_path %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      
      <!-- Course List Section -->
      <div class="col-md-4">
        <div class="course-list">
          {% for course in full_courses %}
          <div class="course-item">
            <h3 data-toggle="collapse" data-target="#course-{{ course.id }}">
              {{ course.title }}
            </h3>
            <!-- Add a loop for lessons in the course -->
            <div id="course-{{ course.id }}" class="collapse lesson-list">
              {% for lesson in course.lesson_set.all %}
                <div class="lesson-item">
                  <a href="{% url 'data_structure' course_id=course.id lesson_id=lesson.id %}">
                    {{ lesson.title }}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


